  body {
    font-family: "nunito", "montserrat", sans-serif;
    font-weight: 400;
  }

  section{
    background-color: white;
  }

  h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    margin-top: 75px;
  }

  h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-family: 'Pacifico', cursive;
    font-size: 1.8em;
    margin-left: 500px;
  }

  #container {
    width:1279px;
    margin: 0 auto;
    margin-top:50px;
  }

  #form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
    /* Style the submit button with a specific background color etc */
  #form
  input[type=submit] {
    background-color: #1e1e1e;
    color: orange;
    font-weight: bold;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-items: center;
    margin: 0 auto;
    margin-top: 20px;
  }

  #form
  input[type=submit]:hover {
    background-color: orange;
    color: #1e1e1e;
  }
    
  .post-card{
    float:left;
    width:280px;
    height: 550px;
    background-color: white;
    border-style: solid;
    color: #545454;
    margin: 40px;
    text-align: center;
    white-space: wrap;
    overflow: hidden;
  }

  .post-card
  h4{
    font-size: 1em;
    font-weight: bold;
    color: orange;
    padding: 15px;
  }

  .post-card,
  p{
    font-size: 1em;
    font-weight: normal;
    padding: 15px;
  }


  .center-text {
    text-align: center;
  }

   /* #contact-form
h1
span {
  color: #fffafb;
}

/*label {
  color: #fffafb;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 0 5px;
}

/*input[type=text], 
select, 
textarea {
  background-color: #fffafb;
  width: 100%; /* Full width */
  /*padding: 10px; 
  border: none;
  border-radius: 8px; 
  box-sizing: border-box;  Make sure that padding and width stays in place */
  /*margin-top: 12px;  Add a top margin */
  /*margin-bottom: 12px; Bottom margin */
  /*resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) 
}*/


/*input[type=submit] {
  background-color: #fffafb;
  color: #bb0a21;
  font-weight: bold;
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-items: center;
  margin: 0 auto;
}*/

/* When moving the mouse over the submit button, add a darker red color */
/*input[type=submit]:hover {
  background-color: #8c1c2b;
  color: #fffafb;
}*/

/* Add a background color and some padding around the form */
/*.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  border-radius: 8px;
  background-color: #bb0a21;
  height: auto;
  padding: 1px 15px 40px 15px;
  margin: 0 auto;
  max-width: 80%;
}*/